*{
    width: 100%;
    height: 100%;  
}
#main{
    width: 70vw;
    height: 100vw;
    margin-left: 15vw;
}
#top{
   width: 70vw;
   height: 37vw;
   background-color: #055182;
}
h1{
    padding: 6vw;
    color: white;
    font-size: 3.5vw;
    font-family: 'Times New Roman';
}
#img{
    width: 25vw;
    height: 24vw;
    padding-top: 5vw;
    margin-left: 45vw;
    margin-top: -51vw;
    
}
#img1{
    width: 20vw;
    height: 18vw;
    margin-left: 39vw;
    margin-top: -16vw;

}
#a{
    padding: 6vw;
    color: white;
    font-size: 1.3vw;
    font-family: 'Times New Roman';
    margin-top: -23vw;
}
#middle{
    width: 70vw;
    height: 40vw;
    background-color:white;
    
 }
 h2{
    text-align: center;
    margin-top: 5vw;
    font-size: 2.3vw;
    font-family: 'Times New Roman';
 }
 p{
    margin-top: -35vw;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Times New Roman';
 }
 #bottom{
    width: 70vw;
    height: 23vw;
    background-color: #055182;
    
 }
 #p{
    padding-top: 4vw;
    text-align: center;
    color: white;
    font-size: 3.1vw;
    font-family: 'Times New Roman';
}
#email{
    display: flex;
    margin-top: -17vw;
    height: 3.5vw;

}
#button2{
    background-color:rgba(8, 8, 8, 0.836);
    color: white;
    font-size: 2vw;
    margin-right: 18vw;
    width: 20vw;

}
#email2{
    background-color:white;
    color: rgb(251, 248, 248);
    font-size: 2vw;
    margin-left: 18vw;
}
 
